body {
    color: #333333;
}

#landing {
    width: 100%;
    padding: 70px 0px 70px 0px;
}

#title {
    width: 95%;
    font-size: 2em;
    margin-top: 50px;
    margin-left: auto;
    padding-left: 10px;
    border-left: 4px solid #E0162B;
    border-left: 4px solid #E0162B;
}

#intro {
    width: 90%;
    margin: 0 auto;
}

#introHeader {
    font-size: 3.5em;
}

#intro p {
    width: 80%;
    font-size: 2em;
    line-height: 1.5em;
}

#details {
    width: 90%;
    margin: 0 auto;
}

#details::after {
    display: block;
    content: "";
    clear: both;
}

.detailItem {
    width: 33%;
    float: left;
    box-sizing: border-box;
}

.detailItem p {
    width: 90%;
    line-height: 1.4em;
    font-size: 1.3em;
}

#homesSection {
    width: 100%;
    padding: 10px 0px 10px 0px;
}

#homesBox {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    box-sizing: border-box;
    border: 4px solid #0052A5;
    background-color: white;
}

#homesBox h1 {
    color: #0052A5;
}

#homesBox::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid #0052A5;
    left: -14px;
    top: 8px;
    z-index: -1;
}

#valuesHeader {
    width: 90%;
    margin: 0 auto;
    padding: 80px 0px 80px 0px;
}

#valuesHeader h1 {
    font-size: 3em;
}

#valuesHeader p {
    width: 80%;
    font-size: 1.5em;
    line-height: 1.5em;
}

#valuesSection {
    position: relative;
    width: 90%;
    background-color: #E0162B;
    margin-bottom: 80px;
}

#valuesSection::after {
    content: '';
    clear: both;
    display: block;
}

#labelWrapper {
    position: absolute;
    display: inline-block;
    bottom: 100px;
    width: 40%;
}

#valuesLabel {
    position: relative;
    text-align: center;
    font-size: 3em;
    color: whitesmoke;
}

#valuesBox {
    position: relative;
    top: -14px;
    right: -10px;
    width: 60%;
    float: right;
    box-sizing: border-box;
    background-color: white;
    border: 4px solid #E0162B;
}

.swiper-container {
    width: 100%;
}

.swiper-button-next, .swiper-button-prev {
    background-image: none !important;
    border: 2px solid #E0162B;
    width: 40px !important;
    height: 40px !important;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
}

.swiper-button-next::before {
    position: relative;
    display: inline-block;
    right: 2.5px;
    content: '';
    border: solid #E0162B;
    border-width: 0px 2px 2px 0px;
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
}

.swiper-button-prev::before {
    position: relative;
    display: inline-block;
    left: 2.5px;
    content: '';
    border: solid #E0162B;
    border-width: 0px 2px 2px 0px;
    width: 10px;
    height: 10px;
    transform: rotate(135deg);
}

.count {
    position: absolute;
    display: inline-block;
    top: 70px;
    left: 70px;
    margin: 0px;
    font-size: 3em;
    color: #E0162B;
    font-weight: 900;
}

.descriptionBox {
    position: relative;
    top: 0px;
    width: 100%;
    padding: 70px 70px 40px 150px;
    box-sizing: border-box;
}

.valueName {
    margin: 0px;
    font-size: 3em;
    font-weight: 900;
}

.valueDescription {
    font-size: 1.3em;
    line-height: 1.3em;
}