body {
    color: #333333;
}

input, textarea, select {
    -webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
 }

#landing {
    padding: 70px 0px 0px 0px;
    width: 90%;
    margin: 0 auto;
}

#title {
    width: 95%;
    font-size: 2em;
    margin-top: 50px;
    padding-left: 10px;
    border-left: 4px solid #E0162B;
}

#headline {
    width: 90%;
    margin: 0 auto;
}

#mainHeadline {
    width: 60%;
    font-size: 4em;
    font-weight: bold;
}

#headlineP {
    width: 60%;
    font-size: 1.8em;
    line-height: 1.8em;
}

aside {
    width: 35%;
    padding: 0px 10px 0px 20px;
    border-left: 4px solid #E0162B;
    float: right;
    box-sizing: border-box;
}

#asideHeader {
    color: #E0162B;
    font-size: 2.2em;
    font-weight: 900;
}

aside p {
    font-size: 1.5em;
    line-height: 1.5em;
}

#formSection {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 60px;
}

#contactForm {
    width: 60%;
    font-size: 1.3em;
}

#formHeader {
    font-size: 2.5em;
    font-weight: bold;
}

input:not([type=submit]) {
    width: 100%;
    height: 40px;
    font-size: 1em;
    margin: 10px 0px 10px 0px;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #333333;
    outline: none;
    box-sizing: border-box;
}

input:focus {
    border-width: 3px;
}

textarea {
    width: 100%;
    resize: none;
    font-size: 1em;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
}

#submitButton {
    position: relative;
    left: 0px;
    top: 10px;
    color: white;
    background-color: #E0162B;
    font-size: .8em;
    font-weight: bold;
    border: 0px;
    padding: 25px;
    outline: none;
    cursor: pointer;
    transition: all .1s ease;
}

#submitButton:hover {
    padding: 30px;
    left: -5px;
    top: 5px;
    margin-bottom: -10px;
}