html, body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}

header {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: transparent;
    position: absolute;
    z-index: 1;
}

.attached {
    position: fixed;
    background-color: white;
    border-bottom: 1px solid #333333;
    color: #333333;
    box-shadow: 0px 4px 30px 0px black;
}

.navButton {
    display: inline-block;
    height: 100%;
    padding: 0px 20px 0px 20px;
    margin: 0px 5px 0px 5px;
    line-height: 50px;
    cursor: pointer;
}

.navButton:hover {
    color: blue;
}

#headerImage {
    vertical-align: middle;
    height: 45px;
}

#footer {
    width: 100%;
    height: 600px;
    background-color: #1F2022;
}

#footerLeft {
    width: 50%;
    height: 100%;
    float: left;
}

#footerRight {
    width: 50%;
    height: 100%;
    float: left;
}

#mailList {
    position: relative;
    width: 60%;
    height: 60%;
    left: 20%;
    top: 20%;
    border: 1px solid #515254;
    text-align: center;
}

#mailList h1 {
    color: #515254;
}

#formEmail {
    width: 80%;
    font-size: 1.5em;
    color: #8EA9A9;
    background-color: #2f2f2f;
    border: none;
    outline: none;
}

#submitBut {
    width: 50%;
    height: 50px;
    background-color: black;
    color: white;
    cursor: pointer;
}

#copyrightWrapper {
    width: 100%;
    height: 20%;
    line-height: 60px;
    border-bottom: 1px solid #515254;
}

#copyright {
    color: grey;
    margin-bottom: 0px;
}

#copyrightWrapper p {
    margin: 0px;
    color: grey;
    line-height: 30px;
    font-size: 1.2em;
}

#copyrightWrapper a{
    color: lightblue;
}

#copyrightWrapper a:hover {
    color: gold;
}

#footerButtons {
    width: 100%;
    height: 70%;
}

.footerBut {
    width: 150px;
    height: 40px;
    padding-left: 30px;
    line-height: 40px;
    font-size: 1.3em;
    cursor: pointer;
}

.footerBut a {
    text-decoration: none;
    color: #8EA9A9;
}

.footerBut a:hover {
    color: white;
}