<div id="footer">
    <div id="footerLeft">
        <div id="mailList">
            <form method="post" name="myemailform" action="mailList.php">
                <label for='name'><h1>JOIN OUR MAILING LIST</h1></label><br><br>
                <input id="formEmail" class="inputField" type="text" name="email" placeholder="Your Email"><br><br><br><br>
                <input id="submitBut" type="submit" name='submit' value="SUBMIT">
            </form>
        </div>
    </div>
    <div id="footerRight">
        <div id="copyrightWrapper">
            <h3 id="copyright">
                &#169 Stars and Stripes General Contracting LLC 2016
            </h3>
            <p>
                Phone Number: <a href="tel:913-815-0420">913-815-0420</a><br>
                Our Email: <a href="mailto:starsandstripesgc@gmail.com">starsandstripesgc@gmail.com</a>
            </p>
        </div>
        <div id="footerButtons">
            <div class="footerBut">
                <span id="footerHome">HOME</span>
            </div>
            <div class="footerBut">
                <span id="footerLandscaping">LANDSCAPING</span>
            </div>
            <div class="footerBut">
                <span id="footerConstruction">CONSTRUCTION</span>
            </div>
            <div class="footerBut">
                <span id="footerLawn">LAWN CARE</span>
            </div>
            <div class="footerBut">
                <span id="footerAbout">ABOUT US</span>
            </div>
            <div class="footerBut">
                <span id="footerContact">CONTACT US</span>
            </div>
            <div class="footerBut">
                <span id="footerTwitter">TWITTER</span>
            </div>
        </div>
    </div>
</div>