<header>
    <nav>
        <div id="headerHome" class="navButton">Home</div>
        <div id="headerLandscaping" class="navButton">Landscaping</div>
        <div id="headerConstruction" class="navButton">Construction</div>
        <img id="headerImage" src="res/logo/companyStar.png" alt="Star">
        <div id="headerLawn" class="navButton">Lawn Care</div>
        <div id="headerAbout" class="navButton">About Us</div>
        <div id="headerContact" class="navButton">Contact Us</div>
    </nav>
</header>